.about {
    padding: 40px;
}

.about h1 {
    font-size: 40px;
    border-bottom: 3px solid gray;
    width: max-content;
    color: gray;
    margin: auto;
}
.about .info{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .info img{
    width: 400px;
    height: 400px;
}

.about .info p{
    width: 600px;
    line-height: 1.8;
    font-size: 22px;
    font-weight: bold;
    color: grey;
}