.footer{
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-container i{
    color: #fff;
    font-size: 30px;
    margin: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    }
.footer-container a{
    text-decoration: none;
}
.footer-container i:hover{
    background-color: #ccc;
}